@using TPFinalProgWebIII.Models.Enum
<div class="d-flex flex-row">
    <div class="flex-column col-md-2 carpetas-left">
       
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Mis Carpetas</h2></div>
            <div class="panel-body">
                @foreach (Carpeta x in ViewBag.carpetas)
                {
                    <div class="carpetas-flex">
                        <a href="/carpetas/tareas/@x.IdCarpeta"><img class="iconfolder img-responsive pull-left" src="~/Content/img/CarpetaEjemplo.png" /> <span class="pull-left ">@x.Nombre</span></a>
                    </div>
                    
                }
                <div class="carpetas-flex">
                    <a href="/Carpetas/Crear"> <img src="~/Content/img/FolderBlack.png" class="iconfolder img-responsive pull-left" /> <span class="pull-left ">Crear Carpeta </span> </a>
                </div>
                  </div>
        </div>
       

    </div>
    <div class="flex-column col-md-10">
      
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Tareas no terminadas</h2></div>
            <div class="panel-body">
               
                <table class="table">

                    <tr>
                        <th><h4>nombre</h4></th>
                        <th><h4>prioridad</h4></th>
                        <th><h4>detalle</h4></th>
                    </tr>
                    @foreach (Tarea x in ViewBag.tareas)
                    {
                        <tr>
                            <td>@x.Nombre</td>
                            <td>@((TipoPrioridad)@x.Prioridad)</td>
                            <th><div class="p-2 text-center"> <a href="/tareas/detalle/@x.IdTarea"><span class="glyphicon glyphicon-search"></span></a></div></th>
                        </tr>
                    }

                </table>

            </div>
        </div>

        
    </div>
</div>