


.cuadro_carpetas
{
    display:flex;
    flex-wrap:wrap;

}
.contenedor_carpetas
{
   width:125px;
   margin-right:10px;
   display:flex;
   flex-direction:column;
}
.carpeta
{
    width:120px;
    margin:0 auto;
}
.contenedor_carpetas>p
{
    margin:0 auto;
}

.contenedor_carpetas > a {
    color: black;
    text-decoration: none; /* no underline */
    text-align:center;
}

.lineacarpeta {
    max-height: 30px;
}

 .lineacarpeta a {
     color: black;
     text-decoration: none; /* no underline */
    }

.iconfolder {
    max-width: 30px;
}
.titulo
{
    text-align:center;
}