
@import url(https://fonts.googleapis.com/css?family=Overlock:700);
  body {
  	font-family: Overlock;
      color:black !important;

  }
  
    html, body 
{
    height: 100%;
    width: 100%;
    margin:0;

}



.form-control {
    display: inline;
}

div>h2
{
    text-align:center;
}


.img-n
{
    height:29px;
     margin-top:9px;
    margin-left:15px;
    margin-right:5px;
}

.table td, .table th{
    text-align: center !important;
}




.checkbox
{
    margin-left: 20px;
}





.centrado
{
 padding-left:7%;
 padding-right:7%;
 margin-top:50px;
   
}

.fondo_formu
{
    max-width:400px;
  
    background-color:gainsboro;
    font-size:larger;
    box-shadow:#808080 10px 10px 20px -3px;
    margin: auto;
}
.recuadre
{
    padding:30px;
}

.encuadrarDetalle
{
    max-width:500px;
    margin:auto;
}

.navbar-inverse
{
    background-color:slategrey !important;
    border:none;
}

.navbar-toggle:hover
{
    background-color:lightsteelblue !important;
    
}
.navbar-toggle:focus
{
    background-color:lightsteelblue !important;
  
}

.navbar-nav>.open>a:hover
{
     background-color:lightsteelblue !important;
       
}
.navbar-nav>.open>a:focus
{
     background-color:lightsteelblue !important;

}

li>a
{
    color:white !important;
  
}
li>a:hover
{
    background-color:lightsteelblue !important;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
    background-color:lightsteelblue !important;
}
.cerrarSession
{
    color:black !important;
}

.dropdown-menu
{
     background-color:slategrey !important;
}

.input-group
{

    font-size:10px !important;
  
}