
@import url(https://fonts.googleapis.com/css?family=Overlock:700);
  body {
  	font-family: Overlock;
      color:black !important;

  }
  
    html, body 
{
    height: 100%;
    width: 100%;
    margin:0;

}

.centradoGeneral
{
    margin-top:50px;
    display:flex;
    justify-content:center;
    padding-left:10%;
    padding-right:10%;
}

.form-control {
    display: inline;
}

div>h2
{
    text-align:center;
}

.btn-login-registro
{
  text-align:center;
}


/*
li>a
{
    color:black !important;
}

li>a:hover
{
    color:black !important;
    background-color:gainsboro !important;
}*/

.img-n
{
    height:29px;
     margin-top:9px;
    margin-left:15px;
    margin-right:5px;
}

.table td, .table th{
    text-align: center !important;
}