
@import url(https://fonts.googleapis.com/css?family=Overlock:700);
  body {
  	font-family: Overlock;
  }
  
    html, body 
{
    height: 100%;
    width: 100%;
    margin:0;

}

.centradoGeneral
{
    margin-top:50px;
    display:flex;
    justify-content:center;
}

.form-control {
    display: inline;
}

div>h2
{
    text-align:center;
}

.btn-login-registro
{
  text-align:center;
}


