.fondoRecuadroRegistrar
{
   
   height:770px;
  
   max-width:390px;
   min-width:340px;

   background-color:gainsboro;
  font-size:larger;
    box-shadow:#808080 10px 10px 20px -3px;

}


.formuRegistro
{
  padding:40px;
 
}
.centermsg
{
    text-align:center;
}