<h2>Index - P&aacute;gina de inicio</h2>

<p>
    -Describe el objetivo del sitio incentivando a registrarse<br/>
    -Contiene un cuadro de login y un link de registraci&oacute;n<br/>
</p>

<p>
    -Al estar logeado, hay accesos a 'Mis Carpetas', 'Mis tareas', 'Men&uacute;'
</p>