@{
    ViewBag.Titulo = "Index";
}

@{
    //PREGUNTO SI LA VARIABLE DE SESION ESTA DEFINIDA, POR LO CUAL ESTA LOGUEADO
    if (Session["Nombre"].Equals(String.Empty))
    {
        <div class="centrado">
        <div class="jumbotron">


            <div class="row">
                <div class="col-lg-6">

                    <h1>MyFolder</h1>

                    <p>
                        La mejor manera de organizar tu vida.<br />
                        <!---  -Contiene un cuadro de login y un link de registraci&oacute;n -->
                    </p>

                    <p>Crea y organiza tus tareas de una forma rapida y eficiente.</p>

                    <p><a class="btn btn-primary btn-lg" href="/Home/Registracion" role="button">Registrate</a></p>
                </div>

                <div class="col-lg-6">

                    <div class="container">
                        <img src="~/Content/img/campu5.png" class="compu_img" />
                    </div>

                </div>

            </div>
        </div>
            </div>
    }
    else
    {

        @Html.Partial("Partial_Home_usuario_Logueado");


    }
}
