@{ 
    ViewBag.Titulo = "Index";
}
<div class="jumbotron">
        
         <div class="row">
             <div class="col-lg-6">
              
                <h1>Index - P&aacute;gina de inicio</h1>

                <p>-Describe el objetivo del sitio incentivando a registrarse<br />
                    -Contiene un cuadro de login y un link de registraci&oacute;n<br />
                </p>

                <p>-Al estar logeado, hay accesos a 'Mis Carpetas', 'Mis tareas', 'Men&uacute;'
                </p>

                 <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div> 

             <div class="col-lg-6">

                 <div class="container">
                     <img src="~/Content/img/campu5.png" class="compu_img"/>
                 </div>

             </div>

        </div>
</div>

