<h2>Mis carpetas</h2>


<div class="cuadro_carpetas">


    @foreach (Carpeta x in ViewBag.carpetas)
    {
        <div class="contenedor_carpetas">
            <a href="/carpetas/tareas/@x.IdCarpeta">
                <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
                <p>@x.Nombre</p>
            </a>
        </div>
    }

</div>