
<div class="centrado">
<div class="panel panel-default ">
    <div class="panel-heading titulo"><h3>Mis Carpetas</h3></div>
    <div class="panel-body">
        <div class="cuadro_carpetas">

            @foreach (Carpeta x in ViewBag.carpetas)
            {

                <div class="contenedor_carpetas">
                    <a href="/Carpetas/Tareas/@x.IdCarpeta">
                        <img src="~/Content/img/folder-add-icon76.png" class="carpeta" />
                        <p>@x.Nombre</p>
                    </a>
                    <button class="text-center btn-link" data-toggle="tooltip" data-placement="bottom" title="@x.Descripcion ">
                        Ver descripcion
                    </button>
                </div>
            }
            <div class="contenedor_carpetas">
                <a href="/Carpetas/Crear"> <img src="~/Content/img/folder-add-icon.png" class="carpeta" /> Crear Carpeta  </a>
            </div>
            </div>
    </div>
</div>
</div>