<h2>Carpetas - Index</h2>
<p><h3>acá se deja solo una metida en un @@foreach</h3></p>

<div class="cuadro_carpetas">

   
    
    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 1</p>
    </div>
   <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta"/>
      <p>carpeta 2</p>
   </div>
   
    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 3</p>
    </div>

    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 4</p>
    </div>

    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 5</p>
    </div>
    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 6</p>
    </div>

    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 7</p>
    </div>

    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 8</p>
    </div>

    <div class="contenedor_carpetas">
        <img src="~/Content/img/CarpetaEjemplo.png" class="carpeta" />
        <p>carpeta 9</p>
    </div>

</div>