

<div><h2>Tareas en carpeta: @ViewBag.nombreCarpeta</h2></div>
<div class="acomodar centrado">
   
        @foreach (Tarea x in ViewBag.tareas)
        {
            <div class="AcomodarTarea ">
                <div class="panel panel-default">
                    <div class="panel-heading"><div class="text-center"><h4>@x.Nombre</h4></div></div>
                    <div class="panel-body">
                      
                        <div class="text-center">
                        <button type="button" class="text-center btn btn-info" data-toggle="tooltip" data-placement="bottom" title="@x.Descripcion ">
                    Ver descripcion
                        </button>
                            </div><br/>




                        <div class="text-center table-bordered">Fecha Terminada</div><br />
                        @if (x.FechaFin != null)
                        {
                            <div class="p-2 text-center">@x.FechaFin </div><br />
                        }
                        else
                        {
                            <div class="text-center ">Tarea en curso</div><br />
                        }
                     

                        <div class="text-center table-bordered">Detalles</div><br />
                        <div class="p-2 text-center"> <a href="/tareas/detalle/@x.IdTarea"><span class="glyphicon glyphicon-search"></span></a></div>
                    </div>
                </div>
            </div>
        
        }
    
</div>
